*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/*HEADER*/
header{
    background-color: blueviolet;
}
.center{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 40px;
    margin: 0 auto;  
}

.ctn-logo{
    font-size: 10px;
}   
.logo{
    width: 150px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu a{
    color:white;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.3s;
}
.menu a:hover{
    color: #F8B206;
}
.menu .btn-menu{
    background-color: rgb(231, 121, 204);
    display: inline-block;
    padding:8px 16px ;
    color:black;
    border-radius: 8px;
}

/*main*/

section.main{
    background-image: url('img/image-site.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.main_cta{
    width: 100%;
    margin-top: 60px;
    text-align: center;

} 

.main_cta h2{
font-weight: normal;
font-size: 60px;
font-weight: bold;
color: black;
}

/* conteudo das vagas */

.vagas{
    width: 900px;
    margin: 60px auto 60px auto;
    /* box-shadow: 5px 5px 5px 2px rgb(0 0 0 / 5%); */
}
.ctn-vag{
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 5px 5px 5px 2px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    border-radius: 10px;
}
.ctn-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8A2BE2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ctn-img img{
    width: 70%;
    
}
.vaga{
    padding: 10px;
    margin: 0 0 0 20px;
}
.vaga h2{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}
.vaga .ctn-requisitos{
    margin-bottom: 15px;
}
.title-descr{
    font-size: 25px;
    font-weight: bold;
    color: #8A2BE2;
    margin-bottom: 10px;
}
.descricao{
    font-size: 20px;
    margin-left: 30px;
}
.ctn-btn{
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}
.oportu{
    background: #fff;
    padding: 60px 80px;
}

.ctn-oportunidades{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}


.tituloum{
    
    font-size: 30px;
    color: #8A2BE2;
    font-weight: bold;
}

.ctn-vagaum h0{
    font-weight: normal;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/*.ctn-linha{
    width: 620px;
    background-color:  #8A2BE2;
}*/

.titulodois{
    
    font-size: 30px;
    color: #8A2BE2;
    font-weight: bold;
}

.ctn-vagadois h0{
    font-weight: normal;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.ctn-vga{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8A2BE2;
    /* width: 100%;
    height: 100%; */
}

.avagas{
    width: 90%;
}

.ctn-btnum{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
}
.btn-enviar{
    font-size: 20px;
    font-weight: bold; 
    letter-spacing: 3px;
    /* text-transform: uppercase; */
    background-color: blueviolet;
    display: inline-block;
    padding:15px 40px;
    color: #F8B206;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.btn-enviar:hover{
    background-color: rgb(66, 0, 128);
    color: #F8B206;
    }

/*footer*/

.footer{
    display: flex;
    background: #8A2BE2;
    height: 80px;
    margin: 60px 0 0 0;
}

.footer .ctn-footer{
    margin: 0 auto;
    padding:20px 0 20px 0;
}

.ctn-footer p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width: 1360px){
    .diferenciais{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .vagas{
        width: 100%;
        padding: 0 30px 0 30px;
        margin: 60px auto 60px auto;
    }
}
@media screen and (max-width: 630px){
    .center{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        /* row-gap: 40px; */
        margin: 0 auto;  
        padding: 25px;
    }
    .ctn-logo{
        margin: 0 auto;
    }   
    .logo{
        width: 200px;
        cursor: pointer;
    }
    .menu{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .menu a{
        color:white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .ctn-vag{
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: 5px 5px 5px 2px rgb(0 0 0 / 5%);
        margin-bottom: 30px;
    }
    .ctn-img{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #8A2BE2;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .ctn-img img{
        width: 50%;
        padding: 10px;
        
    }
    .main_cta h2{
        font-size: 35px;
        font-weight: bold;
        color: black;
    }
}